<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="owin:AppStartup" value="[YourNamespace].Startup" />
    <!--จะเรียกใช้ GOV แบบไหน ให้ uncommend ถ้าไม่ใช้ ให้ commend-->
    <!--<add key="pro" value="Data Source=ORAIEC2;User ID=PREGOV;Password=RIUD8D;" />
    <add key="back" value="Data Source=SHINIVR3;User ID=PREGOV;Password=PASSTB;Connection Timeout=500000;" />
    <add key="title" value="LogIn  GOV_Predictive_AIS2(1200) 3.4" />-->
    <!--GOV-->
    <add key="pro1" value="Data Source=ORAIEC2;User ID=PREGOV;Password=RIUD6D;Connection Timeout=500000;" />
    <add key="back1" value="Data Source=SHINIVR3;User ID=PREGOV;Password=PASSTB;Connection Timeout=500000;" />
    <add key="title1" value="LogIn  GOV_Predictive_AIS2(1200) 3.4" />
    <add key="type11" value="1200" />
    <!--GOV 2-->
    <add key="pro2" value="Data Source=ORAIEC2;User ID=PREGOV2;Password=RIUDDD;" />
    <add key="back2" value="Data Source=SHINIVR3;User ID=PREGOV;Password=PASSTB;Connection Timeout=500000;" />
    <add key="title2" value="LogIn  GOV_Predictive_AIS2(2400) 4.1" />
    <add key="type2" value="2400" />
    <!--GOV 3-->
    <add key="pro3" value="Data Source=ORAIEC2;User ID=PREGOX;Password=RIUD8D;" />
    <add key="back3" value="Data Source=SHINIVR3;User ID=PREGOV;Password=PASSTB;Connection Timeout=500000;" />
    <add key="title3" value="LogIn  GOV_Predictive_AIS(4800) 4.1" />
    <add key="type3" value="4800" />
    <!--GOV Test-->
    <add key="pro" value="Data Source=ORAIEC23;User ID=PREGOV;Password=CORRGOV;" />
    <add key="back" value="Data Source=ORAIEC23;User Id=PREGOV;Password=CORRGOV;" />
    <add key="title" value="LogIn  GOV_Predictive_AIS(Test) 1.0" />
    <add key="type" value="test;1200;2400;4800" />
    <add key="type_title" value="test;LogIn  GOV_Predictive_AIS2(1200) 3.4;LogIn  GOV_Predictive_AIS2(2400) 4.1;LogIn  GOV_Predictive_AIS(4800) 4.1;" />
  </appSettings>
</configuration>